# Ignored files from the backend

# Preference files
.idea/*
.vs/*
.DS_Store


# Build Files
*/bin/*
*/obj/*

# Resharper User Settings
*.sln.DotSettings.user

# Settings files
*/Properties/launchSettings.json
*/local.settings.json